.parent-module {
  height: 100%;
}

.card-module > .grid-module {
  padding: 1.3vw 1.3vw;
}

.card-module {
  position: relative;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s ease;
  }
}

.grid-module {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 0.25s cubic-bezier(0.65, 0, 0.21, 1.47) 0s;
}

.col-1 {
  grid-column: span 1;
}

.text-card {
  display: flex;
  flex-direction: column;
  width: 60%;
  z-index: 1;
  transition: all 0.25s cubic-bezier(0.65, 0, 0.21, 1.47) 0s;
  h4 {
    font-family: "HeadlandOne";
    font-style: normal;
    font-weight: 400;
    font-size: 6vw;
    background-color: #ffffff;
    color: #f40f97;
    transition: all 0.25s cubic-bezier(0.65, 0, 0.21, 1.47) 0s;
  }
  p {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    color: #ffffff;
    background-color: #f40f97;
    margin-bottom: 0.5vw;
    transition: all 0.25s cubic-bezier(0.65, 0, 0.21, 1.47) 0s;
  }
}

.links-infos {
  display: flex;
  flex-direction: row;
  img {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 2vw;
  }
}

@media screen and (min-width: 768px) {
  .text-card {
    p {
      font-size: 1vw;
    }
  }
}
